/* fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Merriweather:wght@300;400&family=Poppins:wght@100;300;400;500;600;700&display=swap');

/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    justify-content: center;
}

.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}
    

/* top players style */

.top-players{
    padding-bottom: 16px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.palyers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
}

hr{
    border: 1px solid #D1D1D1;
}

/* top blogs part */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
}

.thumbnail img{
    width: 177px;
    height: 117px;

}

.blog-info{
    margin-left: 16px;
}

.blog-info a{
     text-decoration: none;
     color: #562EFF;
     font-size: 16px;
}
.blog-title{
    font-weight: 500;
    font-size: 20px;
}

.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}